.attachment-has-count {
    /*background: #7f8aff;*/
    color: #8100ffc4;
    border-radius: 50%;
    min-width: 1.3rem;
    text-align: center;
    display: inline-block;
    border-inline: 0.2rem solid; /*#00C4FFE8*/
}