:host {
    --drop-conttainer-width: 19rem;
    --drop-conttainer-border-radius: 0.6rem;
}

.section-container {
    margin: 0;
    height: calc(100vh - 20.5rem);
    overflow: auto;
    position: relative;
}

.section-container-column {
    padding: 0.3rem;
    position: relative;
}

.new-drop-container {
    min-width: var(--drop-conttainer-width);
    border-radius: var(--drop-conttainer-border-radius);
    background: #46a7955e;
}

.drop-container {
    width: var(--drop-conttainer-width);
    /*width:18rem;*/
    height: 100%;
    background: #ececec6e;
    overflow: auto;
    border-radius: var(--drop-conttainer-border-radius);
}

h2 {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    background: #6315936e;
    color: white;
    font-weight: bold;
    z-index: 2;
}

.dragged {
    opacity: 0.7;
    transform: rotate(3deg);
    filter: grayscale(1);
}

/*.dragged {*/
/*    transition: 0.01s;*/
/*    transform: translateX(-9999px);*/
/*}*/

.drag-item {
    animation: drag-item-animate .3s cubic-bezier(0.3, 1.15, 0.6, 0.8);
}

.drag-item:hover {
    cursor: move;
}

@keyframes drag-item-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.add-new-item-icon-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    bottom: 1rem;
    right: 1rem;
}

.add-new-item-icon:hover {
    cursor: pointer;
}